<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="app">
<div class="container" >

<div class="col-sm-6 col-sm-offset-3">

    <h1 style=" background-color: lightgrey;"> Registeration</h1>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
    
     <img class="pull-left" src="/images/lock.png" width="130" height="130" alt="image">
     <div align="right">
        <div class="form-group,clearfix">
            <label>Username</label>&nbsp;
            <input type="text" class="form-control,clearfix" name="id">
        </div>
        &nbsp;
        <div class="form-group,clearfix">
            <label>Password</label>&nbsp;
            <input type="password" class="form-control,clearfix" name="password">
        </div>
        <div class="form-group,clearfix">
            <label>Password</label>&nbsp;
            <input type="password" class="form-control,clearfix" name="password">
        </div>
        <hr>
        <div>
        <input id="persist_box" type="checkbox" name="persistent" value="1" checked="1" class="uiInputLabelInput uiInputLabelCheckbox"/>
        <label for="persist_box" class="uiInputLabelLabel">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-primary">Cancel</button>
     </div>
        
    </form>
</div>

</div>
</body>
</html>